{{/* Toast Component - Toast notifications (NO JS alerts) */}}
<div class="toast-container" id="toast-container"></div>

{{/* Toast template - will be cloned by JS */}}
<template id="toast-template">
    <div class="toast" data-type="info">
        <div class="toast-icon"></div>
        <div class="toast-content">
            <div class="toast-title"></div>
            <div class="toast-message"></div>
        </div>
        <button class="toast-close" onclick="this.parentElement.remove()">×</button>
    </div>
</template>
